*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
#backgroundimg{
     width: 100%;
    height: 100%;
    background-image:linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)), url(IMAGES/Background.jpeg);
    background-size: cover;
    background-position: center;
}
#backgroundimg2{
    width: 100%;
   height: 700px;
   background-image:linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75));
   background-size: cover;
   background-position: center;
}
.banner{
    background-color:black;
}
.navbar{
    position: fixed;
    top: 0;
    left: 0;
    width: 90%;
    padding: 20px 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 100;
    background-color:black;
}
.logo{
    width: 120px;
    cursor: pointer;
    position: top;
}
.navbar ul li{
    font-weight: bold;
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    top: 5%;
    position: relative;
}
.navbar ul li a{
    text-decoration:none;
    color: royalblue;
    text-transform: uppercase;
}
.navbar ul li a:hover{
    text-decoration:none;
    color: red;
    text-transform: uppercase;
}
.navbar ul li::after{
    content:'';
    height: 30px;
    width: 0%;
    opacity: 40%;
    position: absolute;
    left: 0;
    bottom: -2px;
}
.content{
    width:100%;
    position: absolute;
    top: 45%;
    text-align: center;
    color: white;
}
.viewtitle{
    width:100%;
    position: relative;
    top: 80%;
    text-align: center;
    color: white;
}
.content h1{
    font-size: 70px;
    margin-top: 80px;
}
.content p{
    margin: 20px auto;
    font-weight: 100;
    line-height: 25px;
    color: white;
    opacity: 200%;
}
button{
    width: 200px;
    padding: 15px 0;
    text-align: center;
    margin: 20px 10px;
    border-radius: 25px;
    font-weight: bold;
    border: 2px solid white;
    background: transparent;
    color: white;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}
span{
    background: red;
    opacity: 30%;
    height: 100%;
    width: 100%;
    border-radius: 25px;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
}
button:hover{
    border-color:white;
    background: rgba(255, 0, 0, 0.473);
    color: white;
    width: 200px;
    text-align: center;
    margin: 20px 10px;
    border-radius: 25px;
    font-weight: bold;
    position: relative;
}
.container{
    display: flex;
    width: 100%;
    background-color: rgb(243, 243, 243);
    flex-wrap: wrap;
}
.container1{
    display:flex;
    justify-content: center;
    top: 10px;
    position: relative;
    flex-wrap: wrap;
}
.container2{
    display:flex;
    top: 10px;
    position: relative;
    flex-wrap: wrap;
}
.card{
    background: rgb(47, 0, 255);
    width: 220px;
    height: 400px;
    margin: 35px;
    border-radius: 15px;
}
.card-image{
    height: 200px;
    margin-bottom: 15px;
    background-size:cover;
    border-radius: 15px 15px 0 0;
}
.motor-1{
    background-image: url('IMAGES/Ducati\ 1199\ Panigale.jpeg');
}
.motor-2{
    background-image: url('IMAGES/download\ \(9\).jpeg');
}
.motor-3{
    background-image: url('IMAGES/download\ \(12\).jpeg');
}
.flex-item{
    padding: 2%;
    flex-basis: 90%;
    display: flex;
    flex-direction: column;
    flex: 1 50%;
    flex-grow: inherit;
}
.flex-img img{
    max-width: 20%;
    background-position: 50%;
}
.flex-info{
    margin-top:auto;
}
h3{
    top: 0;
    text-align: center;
    font-weight: bold;
    position: relative;
    align-items: center;
}
p{
    text-align: center;
    position: relative;
    align-items: center;
}
.review img{
    width: 100%;
    background-position-x: center;
    background-position-y: center;
}
.image1 img{
    width: 300px;
    left: 453px;
    top:40px;
    height:300px;
    position: relative;
}
.image1{
    background-color: black;
    top:25px;
    position:relative;
}
.deals{
    background-color: black;
    height: 1090px;
}
#DealFont{
    font-family: sans-serif;
    color: white;
    top:20px; 
    position: relative;
}
#pfont{
    color:white;
    text-align: center;
    position: relative;
    align-items: center;
    top: 30px;
}
#DealFont2{
    font-family: sans-serif;
    color: white;
    top:90px; 
}
#pfont2{
    color:white;
    text-align: center;
    position: relative;
    align-items: center;
    top: 95px;
}
#DealFont3{
    font-family: sans-serif;
    color: white;
    top: 170px; 
}
#pfont3{
    color:white;
    text-align: center;
    position: relative;
    align-items: center;
    top: 175px;
}
.image2 img{
    width: 300px;
    height:400px;
    left: 457px;
    top:160px;
    position: relative;
}
.whatsappbutton{
    top: 300px;
    left: 900px;
    position:relative;
    color:black;
    background: chartreuse;
    border-color: black;
}
.whatsappbutton:hover{
    top: 300px;
    left: 900px;
    position:relative;
    color:chartreuse;
    background: black;
    border-color: chartreuse;
}
.button{
    top: 150px;
    left: 900px;
    position:relative;
}
#other{
    text-align: center;
    position: relative;
    align-items: center;
    top:10px;
}
.services{
    background-color: royalblue;
    height: 700px;
}
#services{
    text-align: left;
    position: relative;
    align-items: left;
    top:100px;
    left:300px;
}
#servicesinfo{
    text-align: left;
    position: relative;
    align-items: left;
    top: 135px;
    left:300px;
    text-shadow: rgb(0, 0, 0) 3px;
}
#service2{
    text-align: left;
    position: relative;
    align-items: left;
    top:145px;
    left:300px;
}
#servicesinfo2{
    text-align: left;
    position: relative;
    align-items: left;
    top: 180px;
    left:300px;
    text-shadow: rgb(0, 0, 0) 3px;
}
#towing{
    position: relative;
    align-items: left;
    top: 3px;
    left:800px;
    width: 150px;
    height: 130px;
}
#business{
    position: relative;
    align-items: left;
    top: 50px;
    left:800px;
    width: 150px;
    height: 130px;
}
#whatsapp{
    text-align: center;
    position: relative;
    align-items: center;
    top: 115px;
    left: 500px;
    color:black;
    background: chartreuse;
    border-color: black;
}
#whatsapp:hover{
    text-align: center;
    position: relative;
    align-items: center;
    top: 115px;
    left: 500px;
    color:chartreuse;
    background: black;
    border-color: chartreuse;
}
#rent{
    text-align: center;
    position: relative;
    align-items: center;
    top: 5px;
    left: 730px;
    color: blue;
    background: white;
    border-color: blue;
}
#rent:hover{
    text-align: center;
    position: relative;
    align-items: center;
    top: 5px;
    left: 730px;
    color:white;
    background: blue;
    border-color: white;
}
#view{
    top: 35px;
    width: 90px;
    position: relative;
}
#view:hover{
    top: 35px;
    width: 90px;
    position: relative;
    color: blue;
    background: white;
    border-color: blue;
}
map{
    background-color: ivory;
    height: 600;
}
#iframe{
    top:50px;
    position: relative;
}
#findusat{
    top: 20px;
    text-align: center;
    position: relative;
    align-items: center;
}
#location{
    top: 30px;
    position:relative;
}
.bottompage{
    background-color: black;
    margin:auto;
    height:350px;
    padding: 70px 0;
    align-items: center;
    top: 50px;
    position: relative;
}
.row{
    display: flex;
    flex-wrap: wrap;
    top: 80px;
    position: relative;
}
ul{
    list-style:none;
}
.footer-col{
    width: 25%;
    padding: 0 15px;
    left: 200px;
    position: relative;
}
.footer-col h4{
    font-size: 18px;
    color: white;
    text-transform: capitalize;
    margin-bottom: 30px;
    left: 25px;
    position: relative;
}
.footer-col h4::before{
    content:'';
    position: absolute;
    left:0;
    bottom: -10px;
    background-color:rgb(0, 0, 0);
    height: 2px;
    box-sizing: border-box;
    width: 50px;
}

.flexdetail{
    display:flex;
    padding: 2%;
    flex-basis: 90%;
    display: flex;
    flex-direction: column;
    flex: 1 50%;
    flex-grow: inherit;
}
#title{
    color: white;
    align-items: left;
}
#information{
    color: black;
    align-items: center;
}
.realfooter{
    background-color: black;
    height: 200px;
}
#copyright{
    color:white;
    text-align: center;
    position: relative;
    align-items: center;
    top: 200px;
}
.AboutUs{
    background-color: white;
    color: black;
    top:90px;
    width:300px;
    height:490px;
    left:60px;
    flex-wrap: wrap;
    position: relative;
    padding-left:2px;
    margin-left: 2px;
    float:left;
    border-radius: 10px;
    border-color: 10px black;
}
#Rucky{
    width: 50px;
    height: 50px;
    top: 90px;
    left:205px;
    position: relative;
}
.WhoAreWe{
    background-color: white;
    color: black;
    top:90px;
    width:300px;
    height:490px;
    left:555px;
    flex-wrap: wrap;
    position: relative;
    padding-left:2px;
    margin-left: 2px;
    float:left;
    border-radius: 10px;
    border-color: 10px black;
}

.footerabout{
    top: 235px;
    position: relative;
    background: black;
}
#copyright{
    top: 150px;
    left: 30px;
    position: relative;
}
#arrow{
    width:60px;
    height: 60px;
    top:105px;
    left: 20px;
    position: relative;
}
#yamaha{
    top:90px;
    left: 105px;
    width: 430px;
    height: 490px;
    position: relative;
}
#yamahatitle{
    left:225px;
    top: 55px;
    position:relative;
}
aside{
    top:90px;
    height:490px;
    right: 382px;
    position: relative;
    width:300px;
    padding-left:100px;
    margin-left: 100px;
    float:right;
}
.itemtitle{
    background-color: black;
    color: white;
    width: 900px;
}
#itemtitle1{
    left:225px;
    position:relative;
}
#itemtitle2{
    left:260px;
    position:relative;
}
#itemtitle3{
    right:150px;
    position:relative;
}
.itemdescription{
    left: 150px;
    position: relative;
}
.datetime{
    left: 740px;
    position: relative;
}
#submit{
    left: 70px;
    position:relative;
}